In [1]:
import pandas as pd

In [2]:
df.head()

NameError: name 'df' is not defined

In [3]:
df.shape

NameError: name 'df' is not defined

#  The pipeline should look like this:
    1. Lowercase
    2. Remove punctuation
    3. Tokenization
    4. Remove stopwords
    5. Stemming
    6. Lemmatization
    7. POS tagging

    # The target text column selected is "reviewText"

In [4]:
df = pd.read_json('reviews_Office_Products_5.json', lines=True)
class TextPipeline:

    def __init__(self, df, column):
        self.df = df
        self.column = column

    def _to_lower(self):
        df[self.column] = df[self.column].apply(lambda x: str(x).lower())
        return df

    def _remove_punctuations(self):
        
        def udf_remove_punctuation(txt):
            for punctuaution in string.punctuation:
                txt = txt.replace(punctuaution, '')
            return txt
        
        df[self.column] = df[self.column].apply(lambda x : udf_remove_punctuation(str(x)))

        return df
    
    def _tokenization(self):
        df["tokenized_text"] = df[self.column].apply(lambda x : word_tokenize(x))
        return df
        
    



    def run_pipeline(self):
        pass

In [6]:
import string
from nltk.tokenize import sent_tokenize, word_tokenize
import nltk
nltk.download('punkt')
pip = TextPipeline(df,"reviewText")
x = pip._to_lower()
x = pip._remove_punctuations()
x = pip._tokenization()
x.head()

[nltk_data] Downloading package punkt to C:\Users\Shantam
[nltk_data]     Saxena\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,tokenized_text
0,A32T2H8150OJLU,B00000JBLH,ARH,"[3, 4]",i bought my first hp12c in about 1984 or so an...,5,"A solid performer, and long time friend",1094169600,"09 3, 2004","[i, bought, my, first, hp12c, in, about, 1984,..."
1,A3MAFS04ZABRGO,B00000JBLH,"Let it Be ""Alan""","[7, 9]",why this belated review i feel very obliged to...,5,"Price of GOLD is up, so don't bury the golden ...",1197676800,"12 15, 2007","[why, this, belated, review, i, feel, very, ob..."
2,A1F1A0QQP2XVH5,B00000JBLH,Mark B,"[3, 3]",i have an hp 48gx that has been kicking for mo...,2,"Good functionality, but not durable like old HPs",1293840000,"01 1, 2011","[i, have, an, hp, 48gx, that, has, been, kicki..."
3,A49R5DBXXQDE5,B00000JBLH,R. D Johnson,"[7, 8]",ive started doing more finance stuff recently ...,5,One of the last of an almost extinct species,1145404800,"04 19, 2006","[ive, started, doing, more, finance, stuff, re..."
4,A2XRMQA6PJ5ZJ8,B00000JBLH,Roger J. Buffington,"[0, 0]",for simple calculations and discounted cash fl...,5,Still the best,1375574400,"08 4, 2013","[for, simple, calculations, and, discounted, c..."